<div class="form-left-col">
    <label>Id:</label>
    <input id="productId" name="id" type="text" value="<%= id %>" disabled />

    <label>Name:</label>
    <input type="text" id="name" name="name" value="<%= name %>" required/>

    <label>Category:</label>
    <input type="text" id="category" name="category" value="<%= category %>"/>

    <label>Country:</label>
    <input type="text" id="country" name="country" value="<%= country %>"/>

    <label>Year:</label>
    <input type="text" id="year" name="year"  value="<%= year %>"/>
    
    <label>Price:</label>
    <input type="text" id="price" name="price"  value="<%= price %>"/>
    

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>

<div class="form-right-col">
    <label>Description:</label>
    <textarea id="description" name="description"><%= description %></textarea>
</div>
